:root {
  --violet: hsl(257, 40%, 49%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  background: no-repeat url("../images/bg-desktop.svg") var(--violet);
  background-size: auto 100vh;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 4rem 4rem 2rem 4rem;
  min-height: 100vh;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.logo {
}

.flex-container {
  display: flex;
}
.splash {
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
}

.mockup-img {
  width: 100%;
}

.content {
  width: 40vw;
}

.social-media-container {
}
