:root {
  --violet: hsl(257, 40%, 49%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  background: no-repeat url("../images/bg-desktop.svg") var(--violet);
  background-size: auto 100vh;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.logo-container {
}

.logo {
  width: 200px;
}

.main-container {
  height: 100%;
  padding: 4rem 5rem 2rem;
  display: grid;
  grid-template-columns: 55% 1fr;
  grid-column-gap: 4rem;
  grid-template-rows: 8rem 1fr 2rem;
  grid-template-areas:
    "header header"
    "splash content"
    "footer footer";
  margin: auto;
}

header {
  grid-area: header;
}

.splash {
  grid-area: splash;
}

.mockup-img {
  width: 100%;
}

.content {
  color: #fff;
  grid-area: content;
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: 48px;
  font-family: "Poppins", sans-serif;
  color: var(--violet);
}

.footer-container {
  grid-area: footer;
  justify-self: end;
}

a {
  text-decoration: none;
  color: #fff;
}
