:root {
  --violet: hsl(257, 40%, 49%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  background: no-repeat url("../images/bg-desktop.svg") var(--violet);
  background-size: auto 100vh;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.logo-container {
  padding: 4rem 0 0 4rem;
}

.logo {
  height: 2.5rem;
}

.main-container {
  display: flex;
}
.splash {
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
  padding: 5rem 4rem 4rem 4rem;
}

.mockup-img {
  width: 100%;
}

.content {
  width: 40vw;
}

.social-media-container {
}
